<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sales & Labor</title>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
<link href="../stylesheets/float-grid.css" rel="stylesheet" />
<link href="https://use.typekit.net/ppu2dgy.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Rubik|Josefin+Sans" rel="stylesheet">
<link href="../stylesheets/index.css" rel="stylesheet" />