<header role="banner">
		<div class="row">
			<div class="col-12">
       
        <!-- Responsive Nav Bar Menu Collapses Into Mobile Hamburger -->
        <!-- Adapted from www.thinkful.com -->
				<div class="splash-nav">
          <div class="hamburger">
            <div class="hamburger-stripe"></div>
            <div class="hamburger-stripe"></div>
            <div class="hamburger-stripe"></div>
          </div>
          <div class="splash-nav-desktop-grid splash-nav-desktop-grid-closed">
            <ul class="splash-nav-primary">
              <li class="splash-nav-item splash-nav-item__logo"><img class="logo-img" src="../images/noun_bread basket_1443780_000000.svg"></li> 
              <li class="splash-nav-item"><a href="/">Home</a></li>
            </ul>

            <ul class="splash-nav-secondary">
              <li class="splash-nav-item splash-nav-separator" style="display: none;"></li>
              
            </ul>
          </div>
        </div>

			</div>
		</div>
	</header>