<header role="banner">
		<div class="row">
			<div class="col-12">
       
				<div class="splash-nav">
          <div class="hamburger">
            <div class="hamburger-stripe"></div>
            <div class="hamburger-stripe"></div>
            <div class="hamburger-stripe"></div>
          </div>
          <div class="splash-nav-desktop-grid splash-nav-desktop-grid-closed">
            <ul class="splash-nav-primary">
              <li class="splash-nav-item splash-nav-item__logo page-title">Labor Report</li>
              <li class="splash-nav-item"><a href="/">Search </a></li>
              <li class="splash-nav-item">
                <a href="#" class="splash-nav-toggle" id="splash-nav-add-toggle">Add <span aria-hidden="true" class="icon-navigatedown"></span></a>

                <div id="splash-nav-add-dropdown" class="splash-nav-dropdown splash-nav-dropdown-hidden">
                  <ul>
                    <li class="splash-nav-dropdown-item"><a class="splash-nav-dropdown-padding" href="/addLabor">
                      <img class="splash-nav-dropdown-image" src="http://tf-assets-prod.s3.amazonaws.com/splash/nav-icons/mentorship.gz.svg" alt="1-on-1 mentorship">
                      <h4 class="splash-nav-dropdown-title">Add Labor Data</h4>
                    </a></li>
                    <li class="splash-nav-dropdown-item"><a class="splash-nav-dropdown-padding" href="/addSales">
                      <img class="splash-nav-dropdown-image" src="http://tf-assets-prod.s3.amazonaws.com/splash/nav-icons/career-services.gz.svg" alt="Career prep">
                      <h4 class="splash-nav-dropdown-title">Add Sales Data</h4>
                    </a></li>
                  </ul>
                </div>
              </li>
              
            </ul>

            <ul class="splash-nav-secondary">
              <li class="splash-nav-item splash-nav-separator" style="display: none;"></li>
              
            </ul>
          </div>
        </div>

			</div>
		</div>
	</header>