<div class="row">
	<div class="col-6">
		<div class="js-message hidden" aria-live="assertive">
			
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<div class="js-message-sales hidden" aria-live="assertive">
			
			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<div class="js-message-labor hidden" aria-live="assertive">
			
			
		</div>
	</div>
</div>