<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
	
</head>

<body>
  <% include ../partials/menu %>
	

	<main role="main">

    <% include ../partials/message %>
    
		<div class="row">
      <div class="col-12">
        <h1>Search by Week</h1>
        
       	<form action="#" class="js-search-form">
            <fieldset>
            	<label for="search">Week Number (YYYYWW)</label>
              <br>
            	<input type="text" class="js-query" id="search">
              <br>
              <br>
            </fieldset>
          	<button type="submit">Search</button>
        	</form>
      </div>
    </div>
      
    <div class="js-results row" aria-live="assertive" hidden>
        
    </div>

	</main>

	

	
</body>
<script src="./javascripts/index.js"></script>
<% include ../partials/script %>
</html>